@font-face {
    font-family: "Montserrat";
    src:
        url('../font/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src:
        url('../font/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 700;
}

div,
p,
a,
h1,
h2,
h3 {
    /*Mettre du Montserrat à la place*/
    font-family: "Montserrat", Helvetica, sans-serif;
}

//variables

//couleurs
$white:aliceblue;
$lightGrey:rgb(209, 209, 209);
$grey: rgb(155, 155, 155);
$darkGrey: rgb(65, 65, 65);
$dark: rgb(14, 14, 14);
$red:rgb(139, 1, 1);

.pDark {
    color: $dark;
}

.pDarkGrey {
    color: $darkGrey;
}

.pWhite {
    color: $white;
}

.pWhite:hover{
    color: $white;
}

.pGrey {
    color: $grey;
}

.pGrey:hover{
    color: $grey;
}

//dimensions
$h1: 3rem;
$h2: 2rem;
$h3: 1.5rem;

.h1 {
    font-size: $h1;
}

.h2 {
    font-size: $h2;
}

.h3 {
    font-size: $h3;
}

$p1: 1.5rem;
$p2: 1.2rem;
$p3: 0.8rem;

p {
    color: $white;
    opacity: 80%;
    font-size: $p3;
}

.p1 {
    font-size: $p1;
}

.p2 {
    font-size: $p2;
}

.p3 {
    font-size: $p3;
}


$gap:1rem;

$mediumGap:1.5rem;

$bigGap:2rem;

.padding {
    padding: $gap;
}

.mediumPadding {
    padding: $mediumGap;
}

.bigPadding {
    padding: $bigGap;
}

$containerWidth:75%;

//code scss

//éléments 

.header-toogle{
    display: none;
}

.littleIcon {
    font-size: $p2;
}

.bigIcon {
    font-size: $h2;
}

.fatIcon {
    font-size: $h1;
}

.icon-next{
    margin-left: 6px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px;
    border: 1.5px solid;
    border-radius: 50%;
}

.icon-next-dark{
    color: $white;
    background-color: $darkGrey;
}

.icon-next-white{
    background-color: $white;
}


i {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a {
    text-decoration: none;

    :hover {
        text-decoration: none;
    }
}

ul {
    display: inline-block;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.light {
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.price {
    font-size: $p2;
}

.pastPrice {
    text-decoration: line-through;
}

.new,.reduction{
    position: absolute;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
}
.new{
    top: 30px;
    color: $white;
    background-color: $dark;
}
.reduction {
    top: 60px;
    color: $white;
    background-color: #9dff00;
}
.pushToAction {}

.bubbleReduction {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: rgb(1, 216, 216);
}

.img {
    background-position: center;
    background-size: cover;
}

.imgContrast {
    filter: contrast(95%) brightness(95%);
    transition: all 0.2s ease-out;
}

.imgContrast:hover{
    filter: contrast(100%) brightness(100%);
}

.imgDesaturate{
    filter: saturate(70%);
}

.imgDesaturate:hover{
    filter: saturate(100%);
}

//zoning
.mobileCache{
    display: none;
}

.container {
    display: flex;
    width: $containerWidth;
    height: auto;
    margin: auto;
}

.global {
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.preHeader {
    background-color: $dark;
    color: $white;

    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
            color: $white;
            padding: auto;
            margin: 0.2rem;

            :hover {
                background-color: $darkGrey;
            }

        }


        .preHeader-contact {
            display: flex;
            flex-direction: row;
            align-items: center;

            .preHeader-contact-phone {
                background-color: $darkGrey;
            }

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

    }


}


.preHeader-account {
    background-color: $darkGrey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: $white;

    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo-mobile {
        display: none;
    }
}

.header-logo1 {
    width: 10rem;

    img {
        width: 100%;
    }
}

.header-search {
    a {
        color: $darkGrey;

        :hover {
            color: $darkGrey;
        }

    }
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
        padding-left: 1rem;
        padding-right: 1rem;

        a {
            color: $dark;

            :hover {
                color: $dark;
            }
        }
    }
}

.header-shoppingCart a {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0.25;
    color: $darkGrey;

    :hover {
        color: $darkGrey;
    }

    p {
        display: inline;
    }


}

.header-search {
    #inputSearch {
        display: none;
    }
}

/*homepage*/

.homepage {
    @extend .header;

    .container {
        flex-direction: column;
    }
}


/*grid*/

.homepage-grid {
    height: 70rem;
    display: grid;
    grid-gap: $gap;
    grid-template-areas:
        "newCollection newCollection  sofa  banc"

        "newCollection newCollection sofa whiteChair"

        "greyChair tabouret tabouret  tabouret"

        "totemFloor tabouret tabouret  tabouret";

    grid-template-columns: 33fr 17fr 25fr 25fr;
    grid-template-rows: 25fr 25fr 20fr 30fr;

}



.grid-newCollection {
    background-image: url("../img/images/meubles/nouvellecollection.jpg");
    grid-area: newCollection;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: $white;

    h1{
        display: inline-block;
        font-size: $p2;
        color: $white;
        background-color: $dark;
        padding: 0 1rem 0 1rem;
    }
}

.grid-sofa {
    background-image: url("../img/images/meubles/canape3places.jpg");
    grid-area: sofa;
    color: $white;

    display: flex;
    flex-direction: column;

    .bubbleReduction{
        margin-top: 40%;
        align-self: flex-end;

    }

}

.grid-banc {
    background-image: url("../img/images/meubles/coussinsblancs.jpg");
    grid-area: banc;

    color: $dark;

    .price {
        color: $red;
        margin-left: 200px;
    }

    .pushToAction {
        color: $white;
        background-color: $dark;
        padding: 0 1rem 0 1rem;
        margin-left: 200px;
    }
}

.grid-whiteChair {
    background-image: url("../img/images/meubles/chaise-accourdoirs.jpg");
    grid-area: whiteChair;

    color: $dark;
}

.grid-greyChair {
    background-image: url("../img/images/meubles/ziodinning.jpg");
    background-color: aquamarine;
    grid-area: greyChair;

    color: $white;

    a {
        color: $white;

        :hover {
            color: $white;
        }
    }
}

.grid-totemFloor {
    background-image: url("../img/images/meubles/totemfloor.jpg");
    grid-area: totemFloor;

    color: $darkGrey;

    .pushToAction {
        color: $darkGrey;
    }
}

.grid-tabouret {
    background-image: url("../img/images/meubles/tabouret.jpg");
    grid-area: tabouret;

    color: $darkGrey;

}


/*finish grid*/

.homepage-product {
    width: 100%;
    height: auto;
}

.product-menu {
    margin: $gap*2 0 $gap 0 ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    a {
        color: $grey;
        padding: 0 $gap 0 $gap;
        border-left: 1.5px solid;
    }
    a:first-child{
        padding: 0 $gap 0 0 ;
        border: none;
    }
    a:focus{
        color-adjust: $darkGrey;
    }
}


.product-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a.control_prev, a.control_next {
    display: none;
}

.product-card{
	border: 1px solid #eeeeee;
	width: 300px;
	height: 300px;
	display: flex;
    flex-direction: column;
    margin-left: $gap;
}

.product-card:first-child{
    margin-left: 0rem;
}

.product-card-img {
    background-position: center top;
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.product-list-legend{
}

.product-card-legend{
    padding: $gap;
}

.product-card-legend strong {
    font-size: 14px;
    display: block;
    color: $grey;
    font-weight: 300;
    margin-bottom: 5px;
}

.product-card-legend span {
    font-size: 17px;
    display: block;
    color: $dark;
    font-weight: 500;
}

.product-card-actions{
	display: flex;
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	transform: translateY(100%);
	transition: transform .3s ease;
	background:white;
}
.product-card:hover .product-card-actions{
	transform: translateY(0);
}

.product-card-actions a{
	border:1px solid  #eeeeee;
	padding: 10px;
	font-size: 14px;
	color:#8a8a8a;
}
.product-card-actions i{
	margin: 0 3px;
	display: inline-block;
}
/* lien acheter */
.product-card-actions a:first-child{
	flex: 1 0 auto;
}




.product-card-actions a:hover{
	color:#62c5de;
}

/* Homepage category*/


.homepage-category {
    width: 100%;
    display: grid;
    grid-template-areas:
        "horloge palette lampe";
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
    grid-auto-rows: 12rem;

    .palette {
        grid-area: palette;
    }

    .horloge {
        grid-area: horloge;
    }

    .lampe {
        grid-area: lampe;
    }

}

.homepage-category-text{
    height: 100%;
    margin: $gap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    a{
        justify-self: flex-end;
    }
}

.homepage-bestDeals {
    width: 100%;
}



.homepage-brands {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
        align-self: flex-start;
    }
}

.homepage-brands-logos {
    margin: $mediumGap 0 $mediumGap 0;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*footer*/


.footer {
    background-color: $lightGrey;
    height: auto;
    .container{
        display: grid;
        grid-template-areas:
            "reassurance reassurance  reassurance"
            "contact sitemap newsletter"
            "contact sitemap social";
        grid-template-columns: 25fr 50fr 25fr;
        grid-template-rows: 33.33fr 33.33fr 33.33fr;

    }
    a{
        color: $grey;
    }
    a:hover {
        color: $darkGrey
    }


    .container {
        height: 30rem;
    }
}

.footer-reassurance {
    grid-area: reassurance;

    margin: $gap 0 $gap 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footer-reassurance-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        div {
            text-align: center;
        }

        h3,
        h1,
        h2 {
            font-size: $p3;
        }

        p {
            font-size: 0.8rem;
            ;
        }
    }
}

.footer-contact {
    grid-area: contact;


    a {
        color: $grey;
        padding: 5px 0 5px 0;

    }

    h1{
        padding: 5px 0 5px 0;
    }
}

.footer-sitemap {
    grid-area: sitemap;

    margin: 0 $gap 0 $gap;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
        padding: 5px 0 5px 0;
        a {
            color: $grey;

            :hover {
                color: $darkGrey
            }
        }
    }

}

.footer-sitemap-child {
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1,
    ul {
        display: inline-block;
    }
}

.footer-newsletter {
    grid-area: newsletter;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    form{
        align-self: flex-end;
    }
}
#newsletter-text{
    width: 50%;
    height: 2rem;
    background-color: transparent;
    border: 0px solid transparent;
}
#newsletter-souscrire{
    height: 2rem;

    background-color: $darkGrey;
    color: $white;
    border: 1px solid $darkGrey;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}

.footer-social {
    span {
        grid-area: social;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    h1 {
        text-align: right;
    }

}

.footer-sitemapLink{
    display: none;
}

.subFooter {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.subFooter-credit {}

.subFooter-payMethod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    .mobileCache {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: 3;
        div{
            text-align: center;
            p{
                color: $dark;
            }
            img{
                display: inline;
            }
        }


    }
}

/*tailles d'écran inférieur à 991px*/

@media (max-width: 991px) {

    .homepage{
        margin-top: $gap;
    }
    .header-main{
        display: flex;
        flex-wrap:wrap;
        justify-content: flex-end;
    }

    .header-shoppingCart{
        .header-shoppingCart-txt{
            display: none;
        }
        a{
            display: inline;
            justify-content: center;
        }
    }
    
    .header-main div{
        flex-basis: calc(100%/3);
        text-align: center;
    }

    .header-toogle {
        display: inline;
        text-align: center;
        .header-toogle-open{
            display: inline;
        }
    }
    .navbar-nav {
        flex-direction: column;
    
        li {
            padding: 1rem 0px 1rem 0px;
    
        }
    }

    .header-menu{
        order: 3;
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
    }

  
    .header-menu li {
        display: block;
        border-bottom: 0.1rem $grey solid;
        }
    
      /*quand le lien est ciblé, on fait une action, en gros quand c'est cliqué !*/
    
      .header-toogle-close {
        display: none;
        position: relative;
      }
      #main-header:target .header-toogle-close {
        display: inline;
        position: relative;
      }
    
      .header-toogle-open {
        display: block;
        position: relative;
      }
    
      #main-header:target .header-toogle-open {
        display: none;
        position: relative;
      }
    
      .header-menu {
        position: relative;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s ease;
      }
    
      #main-header:target .header-menu {
        max-height: 40rem;
      }
    


    .littleIcon{
        font-size: $h2;
    }

    .container {
        display: flex;
        width: $containerWidth;
        height: auto;
        margin: auto;
    }

    .global {
        width: auto;
        height: auto;
        padding: 0 3% 0 3%;
    }

    .preHeader {

        .container {

            a {
                :hover {}

            }


            .preHeader-contact {
                .preHeader-contact-phone {}

                div {}
            }

        }


    }


    .preHeader-account {}

    .header {
        .container {
            overflow: hidden;
        }

        .logo-mobile {
            display: flex;
            justify-content: center;
        }
    }

    .header-logo1 {
        display: none;

    }

    .header-search {
        a {
            color: $darkGrey;

            :hover {
                color: $darkGrey;
            }

        }
    }

    .navbar-nav {

        li {
            a {

                :hover {}
            }
        }
    }

    .header-shoppingCart a {

        :hover {}

        p {}


    }

    .header-search {
        #inputSearch {
            display: none;
        }
    }

    /*homepage*/

    .homepage {
        .container {}
    }


    /*grid*/

    .homepage-grid {
        grid-template-areas:
            "newCollection newCollection"

            "tabouret sofa "

            "whiteChair  banc"

            "totemFloor greyChair";

        grid-template-columns: 50fr 50fr;

    }

    .homepage-grid {}



    .grid-newCollection {
        grid-area: newCollection;
        div{
            margin: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .grid-sofa {
        grid-area: sofa;
        .p1{
            display: none;
        }
        .bubbleReduction{
            display: none;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .grid-banc {
        grid-area: banc;

        .price {
            margin-left: 0px;
        }

        .pushToAction {
            margin-left: 0px;
        }
    }

    .grid-whiteChair {
        grid-area: whiteChair;
    }

    .grid-greyChair {
        grid-area: greyChair;

        a {

            :hover {}
        }
    }

    .grid-totemFloor {
        grid-area: totemFloor;

        .pushToAction {}
    }

    .grid-tabouret {
        grid-area: tabouret;
        h2{
            display: none;
        }
    }


    /*finish grid*/

    .homepage-product {
        width: 100%;
    }
    
    .product-menu {
        justify-content: center;
    
        a {
            margin: 0px;
            color: $darkGrey;
        }
    }

    .product-cards {
        display: flex;
        flex-direction: column;
        
    }
    
    a.control_prev, a.control_next {
    }
    
    .product-card{
        width: 100%;
        height: 500px;
        margin: 0px;
        padding: 0px 0px $gap 0px;
    }
    
    .product-card:first-child{

    }
    
    .product-card-img {

    }
    
    .produts-list__legend{

    }
    
    .product-card-legend strong {
    }
    
    .product-card-legend span {

    }
    
    .product-card-actions{

    }
    .product-card:hover .product-card-actions{

    }
    
    .product-card-actions a{

    }
    .product-card-actions i{

    }
    /* lien acheter */
    .product-card-actions a:first-child{

    }
    
    
    
    
    .product-card-actions a:hover{

    }
    
    
    

    .homepage-category {
        height: 30rem;
        width: 100%;
        display: grid;
        grid-gap: $gap;
        grid-template-areas:
            "horloge horloge"
            "palette lampe";
        grid-template-columns: 50fr 50fr;
        grid-template-rows: 50fr 50fr;
        grid-auto-rows: 20rem; //ne fonctionn pas !!!

        .palette {
            grid-area: palette;
        }

        .horloge {
            grid-area: horloge;
        }

        .lampe {
            grid-area: lampe;
        }
    }

    .homepage-bestDeals {
        width: 100%;
        h1{
            text-align: center;
        }
    }

    .homepage-brands {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h2 {
            align-self: center;
        }
    }

    .homepage-brands-logos {
        margin: $mediumGap 0 $mediumGap 0;

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /*footer*/


    .footer {
        background-color: $lightGrey;

        .container {
            height: 52rem;
            display: grid;
            grid-template-areas:
                "reassurance"
                "contact"
                "newsletter"
                "social"
                "sitemapLink";
            grid-template-columns: 100fr;
        }
    }

    .footer-sitemapLink {
        margin: $gap 0 $gap 0;
        display: block;
        grid-area: sitemapLink;
        text-align: center;
    }

    .footer-reassurance {
        grid-area: reassurance;
        flex-direction: column;


        .footer-reassurance-cards {
            flex-direction: row;
            justify-content: space-between;

            div {
                margin: 0 $mediumGap 0 $mediumGap;
            }

            h3,
            h1,
            h2 {}

            p {}
        }
    }

    .footer-contact {
        grid-area: contact;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 75px;
        }

        a {
            font-size: $p2;
            :hover {}
        }

        h1{
            font-size:$p2;
        }
    }


    .footer-sitemap {
        display: none;
    }

    .footer-sitemap-child {
        justify-content: flex-start;
        align-items: center;

        h1,
        ul {}
    }

    .footer-newsletter {
        margin-bottom: $gap;
        grid-area: newsletter;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
            align-self: center;
        }

        h1 {
            text-align: center;
        }

    }

    .footer-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            grid-area: social;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
        }

    }

    .subFooter {
        .container {}
    }

    .subFooter-credit {}

    .subFooter-payMethod {}

}

/*tailles d'écran entre 992px et 1200px*/

@media (min-width: 992px) and (max-width: 1199px) {

    .header-toogle{
        display: none;
    }
    .container {
        display: flex;
        width: $containerWidth;
        height: auto;
        margin: auto;
    }

    .global {
        width: auto;
        height: auto;
        padding: 0 3% 0 3%;
    }

    .preHeader {

        .container {

            a {
                :hover {}

            }


            .preHeader-contact {
                .preHeader-contact-phone {}

                div {}
            }

        }


    }


    .preHeader-account {}

    .header {
        .container {
            flex-wrap: wrap;
            overflow: hidden;
        }

        .logo-mobile {
            display: flex;
            justify-content: center;
        }
    }

    .header-logo1 {
        display: none;

    }

    .header-search {
        a {
            color: $darkGrey;

            :hover {
                color: $darkGrey;
            }

        }
    }

    .navbar-nav {

        li {
            a {

                :hover {}
            }
        }
    }

    .header-shoppingCart a {

        :hover {}

        p {}


    }

    .header-search {
        #inputSearch {
            display: none;
        }
    }

    /*homepage*/

    .homepage {
        .container {}
    }


    /*grid*/

    .homepage-grid {
        grid-template-areas:
            "newCollection newCollection"

            "tabouret sofa "

            "whiteChair  banc"

            "totemFloor greyChair";

        grid-template-columns: 50fr 50fr;

    }

    .homepage-grid {}



    .grid-newCollection {
        grid-area: newCollection;
    }

    .grid-sofa {
        grid-area: sofa;

        .bubbleReduction{
            display: none;
        }
    }

    .grid-banc {
        grid-area: banc;

        .price {}

        .pushToAction {}
    }

    .grid-whiteChair {
        grid-area: whiteChair;
    }

    .grid-greyChair {
        grid-area: greyChair;

        a {

            :hover {}
        }
    }

    .grid-totemFloor {
        grid-area: totemFloor;

        .pushToAction {}
    }

    .grid-tabouret {
        grid-area: tabouret;
        .p3{
            font-size: $p1;
        }
        h2{
            display: none;
        }
    }


    /*finish grid*/

    .homepage-product {}

    .product-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: $mediumGap;

        a {
            color: $darkGrey;
            margin: $gap;

        }
    }
    .product-cards{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product-card{
        flex-basis: calc(100%/3.5);
    }

    

    .homepage-brands {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h2 {
            align-self: flex-start;
        }
    }

    .homepage-brands-logos {
        margin: $mediumGap 0 $mediumGap 0;

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*footer*/


    .footer {
        background-color: $lightGrey;

        .container {
            height: 40rem;
            display: grid;
            grid-template-areas:
                "reassurance reassurance reassurance"
                "contact social  newsletter"
                "sitemap sitemap sitemap";
            grid-template-columns: 50fr 50fr;
        }
    }

    .footer-reassurance {
        grid-area: reassurance;
        flex-direction: row;


        .footer-reassurance-cards {
            flex-direction: row;
            justify-content: space-between;

            div {}

            h3,h1,h2 {}

            p {}
        }
    }

    .footer-contact {
        grid-area: contact;

        img {
            height: 75px;
        }

        a {
            :hover {}
        }
    }

    .footer-sitemap {
        grid-area: sitemap;

        flex-direction: row;
        justify-content: space-between;

        li {
            a {
                :hover {}
            }
        }

    }

    .footer-sitemap-child {
        justify-content: flex-start;
        align-items: center;

        h1,
        ul {}
    }

    .footer-newsletter {
        grid-area: newsletter;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .footer-social {

        span {
            grid-area: social;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
        }

    }

    .subFooter {
        .container {}
    }

    .subFooter-credit {}

    .subFooter-payMethod {}
}